@import "./partials/reset.scss";

$shadow: #23BDFF;

body {
    padding: 2rem;
    background: #090909;
    font-family: "Robotto", sans-serif;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero__title {
        font-weight: 900;
        font-size: (48 / 16) * 1rem;
        line-height: 104.1%;
        color: white;
        text-align: center;
        text-transform: uppercase;
        text-shadow: -2px 2px 0px $shadow;
        margin-bottom: 2rem;
    }
}

.hero__img {
    animation: rotate 2s ease infinite;
    margin-bottom: 2rem;

    &.--desktop {
        display: none;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form__label {
        display: block;
        font-weight: 900;
        color: white;
        margin-bottom: 1rem;

    }

    .form__input {
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        margin-bottom: 1rem;
        padding: (12 /16) * 1rem .5rem;
        outline-color: $shadow;

        &.--bigspace {
            margin-bottom: 2rem;
        }
    }

    .form__submit {
        color: white;
        background: transparent;
        border: 1px solid white;
        border-radius: 22px;
        padding: (12 / 16) * 1rem (18 / 16) * 1rem;
        margin-bottom: 2rem;
        outline-color: $shadow;
    }
}

.result {
    display: flex;
    justify-content: center;

    .result__text {
        color: white;
        font-weight: 900;
    }
}


@media only screen and (min-width: 600px) {
    .form {
        .form__input {
            width: 80%;
        }
    }
}

@media only screen and (min-width: 1024px) {
    body {
        .hero__img {
            width: 450px;
            height: 300px;
            margin-bottom: 2rem;
            display: none;

            &.--desktop {
                display: block;
            }
        }

        display: flex;

        .col-l {
            width: 50%;
        }

        .col-r {
            width: 50%;
        }
    }

    .hero {
        flex-direction: row;

        .hero__title {
            font-size: (144 / 16) * 1rem;
            text-align: left;
            text-shadow: -4px 4px 0px $shadow;
        }


    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .result {
        justify-content: flex-start;
    }
}

@media only screen and (min-width: 1424px) {
    body {
        padding: 4rem 16rem;
    }
}

@keyframes rotate {

    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg);
    }
}